<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>A productive web framework that<br/>does not compromise speed and maintainability.</p>
</section>

<ul>
<%= for event <- @events do %>
  <li><%= event.title %>, <%= event.due %></li>
<% end %>
</ul>